*.elc
/.mc-lists.el
/ac-comphist.dat
/auto-save-list
/backups
/elpa
/history
/projectile-bookmarks.eld
/projectile.cache
/tramp
/undohist
/ido.last
/places
/recentf
/company-statistics-cache.el
/el-get/
/eln-cache/
/var/
